In [17]:
sbt/sbt assembly

SyntaxError: invalid syntax (<ipython-input-17-0fcc7bd85af9>, line 1)

In [12]:
from __future__ import print_function

import os
import sys
import pickle
import itertools
from math import sqrt
from operator import add
from os.path import join, isfile, dirname
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating
from pyspark.sql.types import StructType, StructField, StringType, FloatType

ImportError: No module named pyspark

In [11]:

import pandas as pd


A_names = ['id', 'title', 'location', 'price', 'rooms', 'rating', 'type']
R_names = ['userId', 'accoId', 'rating']

dfAccos = pd.read_csv('data/accommodations.csv', sep=',', header=None, names=A_names)
dfRates = pd.read_csv('data/ratings.csv', sep=',', header=None, names=R_names)

In [8]:
dfAccos.head()

   id                   title   location  price  rooms  rating     type
0   1      Comfy Quiet Chalet  Vancouver     50      3     3.1  cottage
1   2           Cozy Calm Hut     London     65      2     4.1  cottage
2   3     Agreable Calm Place     London     65      4     4.8    house
3   4  Colossal Quiet Chateau      Paris   3400     16     2.7   castle
4   5        Homy Quiet Shack      Paris     50      1     1.1  cottage

In [10]:
dfRates.head()

   userId  accoId  rating
0      10       1       1
1      18       1       2
2      13       1       1
3       7       2       2
4       4       2       2

In [18]:
# train the model
model = ALS.train(dfRates.rdd, 20, 20) # you could tune these numbers, but these are reasonable choices

NameError: name 'ALS' is not defined